@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

.nav-v1 {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.nav-v1 img {
    width: 60px;
    height: auto;
    margin-right: 7px;
}

.nav-v2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nosifer', sans-serif;
    margin-left: 10rem;
}

.nav-v2 h1 {
    font-size: 20px;
}

.c-product {
    display: flex;
    align-items: center;
}

.c-product p {
    margin-left: 7px;
    font-size: 20px;
}

.navbar {
    padding: 0;
}

.navbar-nav {
    margin-left: 31rem;
}

.navbar-nav li {
    padding: .5rem;

}

.navbar-toggler {
    border: none;
    box-shadow: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}


@media (max-width: 768px) {
    .navbar-nav {
        margin-left: 0;
        text-align: center;
    }

    .nav-v2 {
        margin-left: 0;
    }
}